.group-icon,
.logo-icon1,
.reset-password-inner {
  position: absolute;
  top: 802px;
  left: 71px;
  width: 197px;
  height: 166px;
  object-fit: cover;
}
.group-icon,
.logo-icon1 {
  top: 36px;
  left: 1216px;
  object-fit: contain;
}
.logo-icon1 {
  height: 3.19%;
  width: 2.82%;
  top: 5.08%;
  right: 58.22%;
  bottom: 91.73%;
  left: 38.96%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.rasha-petroleum3 {
  margin: 0;
}
.rasha-petroleum2 {
  position: absolute;
  top: 42px;
  left: 616px;
  font-family: var(--font-nunito-sans);
  color: var(--color-black);
}
.hero-shape-swirl2,
.hero-shape-swirl3 {
  position: absolute;
  top: -104px;
  left: -164px;
  width: 431.6px;
  height: 405.9px;
  object-fit: cover;
}
.hero-shape-swirl3 {
  top: 724px;
  left: 1128px;
  object-fit: contain;
}
.login-button-item {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-46xl);
  background-color: var(--color-tomato-100);
  width: 337px;
  height: 54px;
}
.back-to-login1 {
  position: absolute;
  top: 13px;
  left: 93px;
}
.login-button-container,
.login-button1 {
  position: absolute;
  width: 337px;
  height: 54px;
}
.login-button1 {
  top: 0;
  left: 0;
  cursor: pointer;
}
.login-button-container {
  top: 626px;
  left: 567px;
  text-align: center;
  font-size: var(--font-size-5xl);
  font-family: var(--font-inter);
}
.type-in-your1 {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 0.15px;
  line-height: 143%;
}
.auth-footer1 {
  position: absolute;
  height: 1.95%;
  width: 24.65%;
  top: 36.33%;
  right: 35.69%;
  bottom: 61.72%;
  left: 39.65%;
  font-size: var(--typography-body-2-size);
  color: var(--text-primary);
}
.button5 {
  position: relative;
  letter-spacing: 0.46px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: 500;
}
.masked-icon3 {
  position: relative;
  width: 18px;
  height: 22px;
  object-fit: cover;
  display: none;
}
.content3 {
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.button4,
.unstyledbutton2 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.unstyledbutton2 {
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-3xl);
}
.button4 {
  position: absolute;
  top: 80px;
  left: 0;
  border-radius: var(--br-9xs);
  background-color: var(--color-mediumslateblue-100);
  box-shadow: var(--elevation-2);
  align-items: center;
  justify-content: center;
}
.h61 {
  position: relative;
  letter-spacing: 0.15px;
  line-height: 160%;
  font-weight: 500;
}
.typography1 {
  position: absolute;
  top: calc(50% - 61px);
  left: calc(50% - 95.25px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--typography-h6-size);
  color: var(--text-primary);
}
.login-form2 {
  position: absolute;
  top: 331px;
  left: 572px;
  width: 191.5px;
  height: 122px;
  font-size: var(--components-button-large-size);
}
.reset-password1 {
  position: relative;
  background-color: var(--white);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-16xl);
  color: var(--white);
  font-family: var(--components-button-large);
}
