.logo-icon2,
.reset-password-child1,
.reset-password-child2 {
  position: absolute;
  top: 802px;
  left: 71px;
  width: 197px;
  height: 166px;
  object-fit: cover;
}
.logo-icon2,
.reset-password-child2 {
  top: 36px;
  left: 1216px;
  object-fit: contain;
}
.logo-icon2 {
  height: 3.19%;
  width: 2.82%;
  top: 5.08%;
  right: 58.22%;
  bottom: 91.73%;
  left: 38.96%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.rasha-petroleum5 {
  margin: 0;
}
.rasha-petroleum4 {
  position: absolute;
  top: 42px;
  left: 616px;
  font-family: var(--font-nunito-sans);
}
.hero-shape-swirl4,
.hero-shape-swirl5 {
  position: absolute;
  top: -104px;
  left: -164px;
  width: 431.6px;
  height: 405.9px;
  object-fit: cover;
}
.hero-shape-swirl5 {
  top: 724px;
  left: 1128px;
  object-fit: contain;
}
.login-button-inner {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-46xl);
  background-color: var(--color-tomato-100);
  width: 337px;
  height: 54px;
}
.back-to-login2,
.login-button2 {
  position: absolute;
  top: 13px;
  left: 93px;
}
.login-button2 {
  top: 0;
  left: 0;
  width: 337px;
  height: 54px;
  cursor: pointer;
}
.login-button-frame {
  position: absolute;
  top: 626px;
  left: 567px;
  width: 336px;
  height: 54px;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--white);
  font-family: var(--font-inter);
}
.label4 {
  flex: 1;
  position: relative;
  letter-spacing: 0.15px;
  line-height: 24px;
}
.inactive4,
.input4 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base) 0;
}
.input4 {
  border-radius: var(--br-9xs);
  border: 1px solid var(--other-outlined-border);
  flex-direction: column;
  padding: 0 var(--padding-xs);
}
.textfieldoutlined3 {
  position: absolute;
  top: 95px;
  left: 0;
  width: 345px;
  display: flex;
}
.input5,
.textfieldoutlined3,
.textfieldoutlined4 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.input5 {
  align-self: stretch;
  border-radius: var(--br-9xs);
  border: 1px solid var(--other-outlined-border);
  display: none;
  padding: 0 var(--padding-xs);
}
.textfieldoutlined4 {
  position: absolute;
  top: 128px;
  left: 0;
  width: 345px;
  display: flex;
}
.button7 {
  position: relative;
  letter-spacing: 0.46px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: 500;
}
.masked-icon4 {
  position: relative;
  width: 18px;
  height: 22px;
  object-fit: cover;
}
.content4 {
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.button6,
.unstyledbutton3 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.unstyledbutton3 {
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-3xl);
}
.button6 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-9xs);
  background-color: var(--color-mediumslateblue-100);
  box-shadow: var(--elevation-2);
  align-items: center;
  justify-content: center;
}
.button-wrapper {
  position: absolute;
  top: 175px;
  left: 0;
  width: 110px;
  height: 42px;
  font-size: var(--components-button-large-size);
  color: var(--white);
}
.h62 {
  position: relative;
  letter-spacing: 0.15px;
  line-height: 160%;
  font-weight: 500;
}
.typography2 {
  position: absolute;
  top: calc(50% - 108.5px);
  left: calc(50% - 171.5px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--typography-h6-size);
  color: var(--text-primary);
}
.login-form3 {
  position: absolute;
  top: 326px;
  left: 571px;
  width: 345px;
  height: 217px;
  font-size: var(--components-input-text-size);
  color: var(--text-secondary);
}
.type-in-your2 {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 0.15px;
  line-height: 143%;
}
.auth-footer2 {
  position: absolute;
  height: 1.95%;
  width: 24.65%;
  top: 36.33%;
  right: 35.69%;
  bottom: 61.72%;
  left: 39.65%;
  font-size: var(--typography-body-2-size);
  color: var(--text-primary);
}
.reset-password2 {
  position: relative;
  background-color: var(--white);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-16xl);
  color: var(--color-black);
  font-family: var(--components-button-large);
}
